* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #FBE3B9;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 20px;
    color: #2D334A;
    text-shadow: 1px 1px 1px #13161f;
}

.start-text {
    font-size: 1.1rem;
    text-align: center;
    padding: 20px;
}

#result {
    background-color: #FAB696;
    font-size: 1.2rem;
}

.box-group-result {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    font-size: 2rem;
    gap: 2px;

}

.box-result {
    background-color: #FAB696;
    border-radius: 10px;
    width: 18rem;
}

.box-result>h3 {
    font-size: 1.7rem;
}

.group-result {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#btn-reset {
    margin-bottom: 10px;
    background-color: #FAB696;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 4rem;
    height: 2rem;
}

#btn-reset:hover {
    background-color: #F16767;
}

#message {
    background-color: white;
    margin-bottom: 10px;
}

#group-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    gap: 4px;
}

#group-btn>button {
    width: 100%;
    font-size: 2rem;
    border: none;
    border-radius: 20px;
    background-color: #0C9463;
}

#group-btn>button:hover {
    cursor: pointer;
    background-color: #0a6d49;
}